---
layout: layout.liquid
title: Blogs
---

<div class="blog">
    <p>My first stop was Glorp-7, a planet inhabited by sentient gelatinous blobs who communicated by vibrating at frequencies that made my teeth itch. They were extremely polite. Like, Canadian-level polite. If you accidentally bumped into one, they’d apologize profusely and offer you a complimentary slime bath. (Pro tip: Decline the slime bath. Trust me.)</p>
    <p>I made the mistake of forgetting my towel on my spaceship, and when I sneezed (apparently, blob pollen is a thing), one of the Glorpians handed me a leaf to wipe my nose. It was not a leaf. It was their version of a credit card. Long story short, I accidentally bought a moon.</p>
    <p>Lesson learned: Always carry a towel. It’s cheaper than interstellar real estate.</p>
</div>