---
layout: layout.liquid
title: Hitchhikers Guide
---

<h1>The traveling towel</h1>
<div class="posts">
    <div class="story">
        <span class="title">Glorp-7</span>
        <p class="description">The Planet of the Overly Polite Blobs</p>
        <button class="accept">
            <a href="/blog1">Read More</a>
        </button>
    </div>
    <div class="story">
        <span class="title">Xerxes-42</span>
        <p class="description">Where Everyone is a Giant Space Crab</p>
        <button class="accept">
            <a href="blog2">Read More</a>
        </button>
    </div>
</div>
