<div class="card">
    <div class="body">
        <p class="text">Don't forget your towel</p>
        <p class="text">"I seldom end up where I wanted to go, but almost always end up where I need to be."</p>
        <span class="username">Douglas Adams</span>
    </div>
</div>