---
title: Hitchhikers Guide
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/about.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  {% comment %} blog posts written by deepseek. Prompt: a humor blog post about a traveler exploring different worlds and alien cultures. Involve a towel in any story {% endcomment %}
</head>
<body>
  {% include 'nav' %}
  {{ content }}
  {% include 'footer' %}
</body>
</html>