:root {
    --bg-body: #1A181B;
    --bg-content: #564D65;
    --bg1: #3E8989;
    --text: #EADEDA;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text);
    background: var(--bg-body);
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

.posts {
    padding: 2rem 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.story {
    max-width: 320px;
    padding: 1rem;
    background-color: var(--bg1);
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    margin-bottom: 3rem;
}

.title {
    font-weight: 800;
}
  
.description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.accept {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgb(17 24 39);
    font-weight: 500;
    border-radius: 0.5rem;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: none;
}

a {
    all: unset;
}

.blog {
    background-color: var(--bg-content);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}